@import "../../styles/mixins";
@import "../../styles/variables";

.dashboard {
  position: relative;
}

.add_store_card {
  max-width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgba(128, 128, 128, 0.402);
  border-style: dashed;
  border-radius: 3px;
  font-size: 3em;
  // font-weight: 900;
  color: rgba(128, 128, 128, 0.402);
  cursor: pointer;
  margin-top: 1em;
}

.title {
  text-align: center;
}

.store_card_form_bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.461);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.store_card_form {
  padding: 2em 12px;
  background-color: white;
  width: 70vw;
  height: fit-content;
  // margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 5px;

  h2 {
    font-family: "PolyPie";
    font-weight: normal;
    font-size: unset;
    text-transform: uppercase;
    margin-bottom: 2em;
  }

  input{
    border: 1px solid rgba(128, 128, 128, 0.182);
  }

  @include respond-to("mobile") {
    width: 350px;
  }
}

.store_card_form_bg[data-active="false"],
.store_card_form[data-active="false"] {
  display: none;
  transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.store_card_form_bg[data-active="true"],
.store_card_form[data-active="true"] {
  display: block;
  transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
