@import "../../styles/variables";

.button {
  padding: 13px 18px;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.button[data-theme="green"] {
  background-color: $col-green;
  color: white;
}

.button[data-theme="white"] {
  background-color: $col-white;
  color: black;
}
