.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // align-items: center;
  input {
    height: 44px;
    padding: 0 12px;
    border-radius: 5px;
    border: 0;
    border: 1px solid rgba(54, 54, 54, 0.2);
    // background-color: whitesmoke;
    background-color: rgb(232, 240, 254);
    outline: none;
  }
}
