html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-size: 14px;
  background-color: #2e2e2e;
}

@font-face {
  font-family: "FKScreamer";
  src: url("../assets/fonts/FKScreamer-Bold.woff2");
}

@font-face {
  font-family: "PolyPie";
  src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
}

* {
  font-family: "PolyPie";
}
