h1 {
  line-height: 1;
  font-size: clamp(2em, 4vw, 100px);
  font-family: "FKScreamer";
}

h2 {
  line-height: 1;
  font-size: clamp(1.74em, 2.6vw, 100px);
  font-family: "FKScreamer";
}

p {
  line-height: 25.2px;
}
